

<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont"></i> <a href="{:url('Index/index')}" class="maincolor">首页</a> 
		<span class="c-999 en">&gt;</span>
		<a class="c-666">首页</a> 
		<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
	</nav>
	<div class="Hui-article">
	<article class="cl pd-20">
		<h1 style="font-size: 36px; text-align: center; color: #AB1E1E; font-family: '微软雅黑'; font-weight: bold;">Welcome</h1>
		<h1 style="font-size: 28px; text-align: center; color: #AB1E1E; font-family: '微软雅黑';">欢迎</h1>	
	</article>		
	</div>	
</section>


<footer class="footer">
			<p>感谢jQuery、layer、laypage、Validform、UEditor、My97DatePicker、iconfont、Datatables、WebUploaded、icheck、highcharts、bootstrap-Switch<br> Copyright &copy;2015 H-ui.admin v3.0 All Rights Reserved.<br> 本后台系统由<a href="http://www.h-ui.net/" target="_blank" title="H-ui前端框架">H-ui前端框架</a>提供前端技术支持</p>
</footer>
</div>
</section>


