{include file="public/header"}
			<div id="myCarousel" class="carousel slide" data-ride="carousel" class="clear">
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img src="__PUBLIC__images/banner-1.jpg" alt="First slide">
					</div>
					<div class="item">
						<img src="__PUBLIC__images/banner-2.jpg" alt="Second slide">
					</div>
					<div class="item">
						<img src="__PUBLIC__images/banner-3.jpg" alt="Third slide">
					</div>
				</div>
			</div>
			<article class="content center">
				<div class="hot_shop">
					<h3>热门商品</h3>
					<span><a href="shop_list.html">查看更多 >></a></span>
				</div>
				<ul class="hot clear">
					<li>
						<a href="pro_details.html"><img src="__PUBLIC__images/hot_show_1.jpg"/>
						</a>
	   					<h4><a href="pro_details.html">宏恒玛莎拉蒂</a></h4>
	   					<p><a href="pro_details.html">支持，X，K，KA，KU，LASER</a></p>
	   					<span>￥1399</span>
	   					<a href="confirm_order.html" class="pay">立即购买</a>				
					</li>
					<li>
						<a href="pro_details.html"><img src="__PUBLIC__images/hot_show_2.jpg"/>
						</a>
	   					<h4><a href="pro_details.html">宏恒玛莎拉蒂</a></h4>
	   					<p><a href="pro_details.html">支持，X，K，KA，KU，LASER</a></p>
	   					<span>￥1399</span>
	   					<a href="confirm_order.html" class="pay">立即购买</a>							
					</li>
					<li>
						<a href="pro_details.html"><img src="__PUBLIC__images/hot_show_3.jpg"/>
						</a>
	   					<h4><a href="pro_details.html">宏恒玛莎拉蒂</a></h4>
	   					<p><a href="pro_details.html">支持，X，K，KA，KU，LASER</a></p>
	   					<span>￥1399</span>
	   					<a href="confirm_order.html" class="pay">立即购买</a>		
					</li>
					<li>
						<a href="pro_details.html"><img src="__PUBLIC__images/hot_show_4.jpg"/>
						</a>
	   					<h4><a href="pro_details.html">宏恒玛莎拉蒂</a></h4>
	   					<p><a href="pro_details.html">支持，X，K，KA，KU，LASER</a></p>
	   					<span>￥1399</span>
	   					<a href="confirm_order.html" class="pay">立即购买</a>					
					</li>
					<li>
						<a href="pro_details.html"><img src="__PUBLIC__images/hot_show_5.jpg"/>
						</a>
						<h4><a href="pro_details.html">宏恒玛莎拉蒂</a></h4>
	   					<p><a href="pro_details.html">支持，X，K，KA，KU，LASER</a></p>
	   					<span>￥1399</span>
	   					<a href="confirm_order.html" class="pay">立即购买</a>					
					</li>
				</ul>
				<div class="hot_shop clear">
					<h3>宏恒电子狗</h3>
					<span><a href="shop_list.html">查看更多 >></a></span>
				</div>
					<ol>
						<li>
							<a href="pro_details.html" class="left"><img src="__PUBLIC__images/dog_1.jpg"/></a>
							<div class="right">
								<h4><a href="pro_details.html">宏恒宝马i8</a></h4>
								<p><a href="pro_details.html">雷达预警功能：支持，X，K，KA，KU，LASER</a></p>
								<p>电源性能：12V 其他性能：固定测速 流动测速</br>超速行驶实时提醒</p>
								<span><em>￥</em>1999</span>
								<a href="confirm_order.html" class="pay">立即购买</a>
							</div>
						</li>
						<li>
							<a href="pro_details.html"><img src="__PUBLIC__images/dog_2.jpg"/></a>
							<div class="right">
								<h4><a href="pro_details.html">宏恒宝马i8</a></h4>
								<p><a href="pro_details.html">雷达预警功能：支持，X，K，KA，KU，LASER</a></p>
								<p>电源性能：12V 其他性能：固定测速 流动测速</br>超速行驶实时提醒</p>
								<span><em>￥</em>1999</span>
								<a href="confirm_order.html" class="pay">立即购买</a>
							</div>			
						</li>
						<li>
							<a href="pro_details.html"><img src="__PUBLIC__images/dog_3.jpg"/></a>
							<div class="right">
								<h4><a href="pro_details.html">宏恒宝马i8</a></h4>
								<p><a href="pro_details.html">雷达预警功能：支持，X，K，KA，KU，LASER</a></p>
								<p>电源性能：12V 其他性能：固定测速 流动测速</br>超速行驶实时提醒</p>
								<span><em>￥</em>1999</span>
								<a href="confirm_order.html" class="pay">立即购买</a>
							</div>				
						</li>
						<li>
							<a href="pro_details.html"><img src="__PUBLIC__images/dog_4.jpg"/></a>
							<div class="right">
								<h4><a href="pro_details.html">宏恒宝马i8</a></h4>
								<p><a href="pro_details.html">雷达预警功能：支持，X，K，KA，KU，LASER</a></p>
								<p>电源性能：12V 其他性能：固定测速 流动测速</br>超速行驶实时提醒</p>
								<span><em>￥</em>1999</span>
								<a href="confirm_order.html" class="pay">立即购买</a>
							</div>						
						</li>
					</ol>
				<div class="hot_shop clear">
					<h3>宏恒gps导航</h3>
					<span><a href="shop_list.html">查看更多 >></a></span>
				</div>
					<div class="product clear">
						<div class="product_left">
							<a href="pro_details.html"><img src="__PUBLIC__images/gps_1.jpg"></a>
							<p><a href="pro_details.html">宏恒ZJ-P56支持，宽频雷达、360度检索全频段</a></p>
							<span><em>￥</em>999</span>
							<a href="confirm_order.html" class="pay">立即购买</a>
						</div>
						<div class="product_right">
							<ul>
								<li>
									<a href="pro_details.html"><img src="__PUBLIC__images/gps_2.jpg"></a>
									<p><a href="pro_details.html">宏恒ZJ-P56支持，宽频雷达、360度检索全频段</a></p>
									<span><em>￥</em>999</span>
									<a href="confirm_order.html" class="pay">立即购买</a>	
								</li>			
								<li>
									<a href="pro_details.html"><img src="__PUBLIC__images/gps_3.jpg"></a>
									<p><a href="pro_details.html">宏恒ZJ-P56支持，宽频雷达、360度检索全频段</a></p>
									<span><em>￥</em>999</span>									
									<a href="confirm_order.html" class="pay">立即购买</a>	
								</li>
								<li>
									<a href="pro_details.html"><img src="__PUBLIC__images/gps_4.jpg"></a>
									<p><a href="pro_details.html">宏恒ZJ-P56支持，宽频雷达、360度检索全频段</a></p>
									<span><em>￥</em>999</span>
									<a href="confirm_order.html" class="pay">立即购买</a>
								</li>
								<li>
									<a href="pro_details.html"><img src="__PUBLIC__images/gps_5.jpg"></a>
									<p><a href="pro_details.html">宏恒ZJ-P56支持，宽频雷达、360度检索全频段</a></p>
									<span><em>￥</em>999</span>
									<a href="confirm_order.html" class="pay">立即购买</a>		
								</li>
							</ul>
						</div>
					</div>
				<div class="hot_shop clear">
					<h3>宏恒后视镜</h3>
					<span><a href="shop_list.html">查看更多 >></a></span>
				</div>
					<div class="mirror clear">
						<div class="mirror_left">
							<a href="pro_details.html"><img src="__PUBLIC__images/mirror_1.jpg"></a>
							<p><a href="pro_details.html">专车专用二代云狗 高清倒车后视行车记录仪一体机</a></p>
							<span><em>￥</em>899</span>
							<a href="confirm_order.html" class="pay">立即购买</a>
						</div>
						<div class="mirror_right">
							<ul>
								<li>
									<a href="pro_details.html"><img src="__PUBLIC__images/mirror_2.jpg"></a>
									<p><a href="pro_details.html">专车专用二代云狗 高清倒车后视行车记录仪一体机</a></p>
									<span><em>￥</em>899</span>
									<a href="confirm_order.html" class="pay">立即购买</a>		
								</li>
								<li>
									<a href="pro_details.html"><img src="__PUBLIC__images/mirror_3.jpg"></a>
									<p><a href="pro_details.html">专车专用二代云狗 高清倒车后视行车记录仪一体机</a></p>
									<span><em>￥</em>899</span>
									<a href="confirm_order.html" class="pay">立即购买</a>		
								</li>
								<li>
									<a href="pro_details.html"><img src="__PUBLIC__images/mirror_4.jpg"></a>
									<p><a href="pro_details.html">专车专用二代云狗 高清倒车后视行车记录仪一体机</a></p>
									<span><em>￥</em>899</span>
									<a href="confirm_order.html" class="pay">立即购买</a>			
								</li>
								<li>
									<a href="pro_details.html"><img src="__PUBLIC__images/mirror_5.jpg"></a>
									<p><a href="pro_details.html">专车专用二代云狗 高清倒车后视行车记录仪一体机</a></p>
									<span><em>￥</em>899</span>
									<a href="confirm_order.html" class="pay">立即购买</a>		
								</li>
							</ul>
						</div>
					</div>
				<div class="hot_shop clear">
					<h3>宏恒后视镜</h3>
					<span><a href="shop_list.html">查看更多 >></a></span>
				</div>
					<ul class="lada clear">
						<li>
							<a href="pro_details.html"><img src="__PUBLIC__images/lada_1.jpg"/>
							</a>
		   					<p><a href="pro_details.html">固定测速 流动测速 超速行驶 </br>实时提醒</a></p>
		   					<span><em>￥</em>899</span>
		   					<a href="confirm_order.html" class="pay">立即购买</a>			
						</li>
						<li>
							<a href="pro_details.html"><img src="__PUBLIC__images/lada_2.jpg"/>
							</a>
		   					<p><a href="pro_details.html">固定测速 流动测速 超速行驶 </br>实时提醒</a></p>
		   					<span><em>￥</em>899</span>
		   					<a href="confirm_order.html" class="pay">立即购买</a>		
						</li>
						<li>
							<a href="pro_details.html"><img src="__PUBLIC__images/lada_3.jpg"/>
							</a>
		   					<p><a href="pro_details.html">固定测速 流动测速 超速行驶 </br>实时提醒</a></p>
		   					<span><em>￥</em>899</span>
		   					<a href="confirm_order.html" class="pay">立即购买</a>				
						</li>
						<li>
							<a href="pro_details.html"><img src="__PUBLIC__images/lada_4.jpg"/>
							</a>
		   					<p><a href="pro_details.html">固定测速 流动测速 超速行驶 </br>实时提醒</a></p>
		   					<span><em>￥</em>899</span>
		   					<a href="confirm_order.html" class="pay">立即购买</a>					
						</li>
						<li>
							<a href="pro_details.html"><img src="__PUBLIC__images/lada_5.jpg"/>
							</a>
		   					<p><a href="pro_details.html">固定测速 流动测速 超速行驶 </br>实时提醒</a></p>
		   					<span><em>￥</em>899</span>
		   					<a href="confirm_order.html" class="pay">立即购买</a>				
						</li>
						<li>
							<a href="pro_details.html"><img src="__PUBLIC__images/lada_6.jpg"/>
							</a>
		   					<p><a href="pro_details.html">固定测速 流动测速 超速行驶 </br>实时提醒</a></p>
		   					<span><em>￥</em>899</span>
		   					<a href="confirm_order.html" class="pay">立即购买</a>		
						</li>
						<li>
							<a href="pro_details.html"><img src="__PUBLIC__images/lada_7.jpg"/>
							</a>
		   					<p><a href="pro_details.html">固定测速 流动测速 超速行驶 </br>实时提醒</a></p>
		   					<span><em>￥</em>899</span>
		   					<a href="confirm_order.html" class="pay">立即购买</a>		
						<li>
							<a href="pro_details.html"><img src="__PUBLIC__images/lada_8.jpg"/>
							</a>
		   					<p><a href="pro_details.html">固定测速 流动测速 超速行驶 </br>实时提醒</a></p>
		   					<span><em>￥</em>899</span>
		   					<a href="confirm_order.html" class="pay">立即购买</a>					
						</li>
						<li>
							<a href="pro_details.html"><img src="__PUBLIC__images/lada_9.jpg"/>
							</a>
		   					<p><a href="pro_details.html">固定测速 流动测速 超速行驶 </br>实时提醒</a></p>
		   					<span><em>￥</em>899</span>
		   					<a href="confirm_order.html" class="pay">立即购买</a>		
						</li>
						<li>
							<a href="pro_details.html"><img src="__PUBLIC__images/lada_10.jpg"/>
							</a>
		   					<p><a href="pro_details.html">固定测速 流动测速 超速行驶 </br>实时提醒</a></p>
		   					<span><em>￥</em>899</span>
		   					<a href="confirm_order.html" class="pay">立即购买</a>			
						</li>
					</ul>
			</article>
		{include file="public/footer"}