{include file="public/header_log"}

	<article class="content">
		<div class="center">
			<div class="login_top">
				<h4>用户登录</h4>
			</div>
			<div class="login_middle clear">
				<form class="login_left" action="post">
					<p class="p1">
						<label class="login">登录账号：
							<input type="text" id="username" class="name" name="username" 
									placeholder="用户名/已验证手机"/>
						</label>
					</p>
					<p  class="p2">
						<label class="password">密码：
							<input type="password" id="password" class="pwd" name="password" placeholder="密码"/>
							</label>
					</p>
					<p class="clear p3">
						<label class="remember" id="auto_login">
							<input type="checkbox"/><em>记住密码</em>
							</label>
						<a class="forget" href="#">忘记密码</a>
						</p>
					<p class="p4">
						<input type="button" value="立即登录" id="submit" class="sub" />
					</p>
					<p class="p5">
						<a href="register.html">注册新用户</a>
					</p>
				</form>
				<div class="login_right">
					<p class="p1">
						<span>扫描登录</span>
					</p>
					<p class="p2">
						<img src="__PUBLIC__images/wei.jpg" />
					</p>
					<p class="p3">
						<img src="__PUBLIC__images/xin.jpg" />
					</p>
					<p class="p4 clear">
						<span>打开手机扫二维码</span>
					</p>
					<p class="p5">
						<span class="s1"><img src="__PUBLIC__images/icon-1.png" />免输入</span>
						<span class="s2"><img src="__PUBLIC__images/icon-2.png" />更快</span>
						<span class="s3"><img src="__PUBLIC__images/icon-3.png" / >更安全</span>
					</p>
				</div>
			</div>	
		 </div>
	</article>
	{include file="public/footer"}<script>	$(function(){		$('#submit').click(function(){			if($(".name").val()==''){
				alert('用户名不能为空')
			}else if($(".pwd").val()==''){
				alert('密码不能为空')
			}
			$.post("{:url('login')}",{username:$(".name").val(),password:$(".pwd").val()},function(data){
				if(data.info){
					alert(data.msg)
					location="{:url('user')}"
				}else{
					alert(data.msg)
				}
			})
		})	})</script>